Import necessary packages for the implementation

In [63]:
import numpy as np
import pandas as pd

Loading the file into Notebook

In [2]:
df= pd.read_excel(r'02_text_mining_example.xlsx')

View of the file

In [64]:
df.sample(10)

,description,Q3,Q1,Q4
1,Welcome to your new dream home! This exceptio...,"[(300 CHF, HF)]","[1600, 15, 2014, 3, 300, 1, 2016]",[elcome to your new dream home! This exceptio...
8,One-familiy house for sale in a municipality w...,[],"[7.5, 4, 1, 1, 705, 2, 3, 15, 30]",[ne-familiy house for sale in a municipality w...
2,A unique opportunity near the Zug city center!...,[],"[6.5, 150, 2, 10, 3]",[unique opportunity near the Zug city center!V...
6,Thank you for your interest in this unique pro...,[],[6.5],[hank you for your interest in this unique pro...
9,House in Rüschlikon (4-levels plus cellar) to ...,"[(2 A, A), (200 CHF, HF), (400 S, S)]","[4, 7.5, 8.5, 2, 6, 3, 4, 2, 1, 2, 6, 2, 200, ...",[ouse in Rüschlikon (4-levels plus cellar) to ...
5,Large single family home built in 1984 within ...,"[(200 CHF, HF)]","[1984, 2001, 1, 200, 6, 1, 2]",[arge single family home built in 1984 within ...
0,"Home to rent in Steinhausen, near Zug The per...","[(2 E, E)]","[7, 5, 3, 2, 5, 10]","[ome to rent in Steinhausen, near Zug The per..."
7,"High-standing duplex villa located in quiet, r...",[],"[4, 18, 2, 208, 149]","[igh-standing duplex villa located in quiet, r..."
3,"Lengnau is a ""lively"" village with many intern...",[],"[9, 5, 1990, 6.5, 2, 240, 2]","[engnau is a ""lively"" village with many intern..."
4,Fare-faced concrete single-family home – only ...,[],"[30, 4]",[are-faced concrete single-family home – only ...

importing the regular expression module

In [65]:
import re

Q1-View of all the digits

In [66]:
df['Q1'] = df.description.str.findall(r'\d*\.?\d+')

Q2- Range of numbers

In [215]:
# df['Q2'] = re.match(r'\d+',df.Q1)

Q3 - Digit followed by alphanumeric character

In [145]:
df['Q3'] = df.description.str.findall(r'[0-9][a-zA-Z0-9_]*')

Q4 - combination of a lowercase character, followed by any character and then by a digit.

In [146]:
df['Q4'] = df.description.str.findall(r'[a-z]+ +.*[0-9]+')

Space followed by two small letters than again space

In [179]:
df['Q5'] = df.description.str.findall(r' .[a-za-z] ')

In [226]:
df.to_csv('final_result.csv')

,description,Q3,Q1,Q4,Q2,Q5,Q6
0,"Home to rent in Steinhausen, near Zug The per...","[7, 5, 3, 2, 5, 10]","[7, 5, 3, 2, 5, 10]","[ome to rent in Steinhausen, near Zug The per...",<filter object at 0x000001BAA0D96DD8>,"[ to , in , in , of , of , tv , in , in...",[]
1,Welcome to your new dream home! This exceptio...,"[1600, 15, 2014, 3, 300, 1st, 2016]","[1600, 15, 2014, 3, 300, 1, 2016]",[elcome to your new dream home! This exceptio...,<filter object at 0x000001BAA0D96DD8>,"[ to , is , in , to , in , of , at , as...",[]
2,A unique opportunity near the Zug city center!...,"[6, 5, 150, 2, 10, 3]","[6.5, 150, 2, 10, 3]",[unique opportunity near the Zug city center!V...,<filter object at 0x000001BAA0D96DD8>,"[ of , is , in , to , to , to , be , as...",[]
3,"Lengnau is a ""lively"" village with many intern...","[9, 5, 1990, 6, 5, 2, 240, 2]","[9, 5, 1990, 6.5, 2, 240, 2]","[engnau is a ""lively"" village with many intern...",<filter object at 0x000001BAA0D96DD8>,"[ is , is , km , to , by , or , to , is...",[]
4,Fare-faced concrete single-family home – only ...,"[30, 4]","[30, 4]",[faced concrete single-family home – only a 30...,<filter object at 0x000001BAA0D96DD8>,"[ or , in , we , of , in , to , it , of...",[]
5,Large single family home built in 1984 within ...,"[1984, 2001, 1, 200, 6, 1, 2]","[1984, 2001, 1, 200, 6, 1, 2]",[arge single family home built in 1984 within ...,<filter object at 0x000001BAA0D96DD8>,"[ in , It , be , of , In , of , to , an...",[]
6,Thank you for your interest in this unique pro...,"[6, 5]",[6.5],[hank you for your interest in this unique pro...,<filter object at 0x000001BAA0D96DD8>,"[ in , is , on , of , in , of , is , on...",[]
7,"High-standing duplex villa located in quiet, r...","[4, 18, 2, 208, 149]","[4, 18, 2, 208, 149]","[standing duplex villa located in quiet, resid...",<filter object at 0x000001BAA0D96DD8>,"[ in , on , of ]",[]
8,One-familiy house for sale in a municipality w...,"[7, 5, 4, 1, 1, 705m2, 3, 15, 30]","[7.5, 4, 1, 1, 705, 2, 3, 15, 30]",[familiy house for sale in a municipality with...,<filter object at 0x000001BAA0D96DD8>,"[ in , is , in , to , is , by , On , is...",[]
9,House in Rüschlikon (4-levels plus cellar) to ...,"[4, 7, 5, 8, 5, 2, 6m, 3, 4, 2, 1, 2, 6, 2, 20...","[4, 7.5, 8.5, 2, 6, 3, 4, 2, 1, 2, 6, 2, 200, ...",[ouse in Rüschlikon (4-levels plus cellar) to ...,<filter object at 0x000001BAA0D96DD8>,"[ in , to , in , to , in , to , up , in...",[]